@use "functions" as *;

@keyframes loadingFadeOut {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes anim-checkmark-dash {
	0% {
		stroke-dashoffset: -23;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes popupOpening {
	0% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 1;
	}
}

@keyframes popupClosing {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

// Hero animation
@keyframes slideFromLeft {
	0% {
		transform: translateX(to-vw(calc(-215 - 1400)));
	}
	60% {
		transform: translateX(to-vw(-215));
	}
	100% {
		transform: translateX(to-vw(-215));
	}
}

@keyframes slideFromRight {
	0% {
		transform: translateX(to-vw(calc(1041 + 1400)));
	}
	40% {
		transform: translateX(to-vw(calc(1041 + 1400)));
	}
	100% {
		transform: translateX(to-vw(1041));
	}
}
