---
import "../../assets/styles/pages/about.scss";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title='About Page'>
	<section class='hero'>
		<div class='hero__container'>
			<h1 class='hero__title'>Hello World - About Page</h1>
		</div>
	</section>
</BaseLayout>
