---
import "../assets/styles/pages/home.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='Home Page'>
	<section class='hero'>
		<div class='hero__container'>
			<h1 class='hero__title'>Hello World - Index Page</h1>
			<p class='hero__paragraph'>
				Random word: <span data-random-number class='hero__random-number'></span>
			</p>
			<a href='/about' class='hero__button button'>About Us</a>
		</div>
	</section>
</BaseLayout>

<script>
	import {initParagraph} from "../assets/javascript/home.js";

	const {paragraph} = initParagraph();
</script>
