---
import "../assets/styles/pages/home.scss";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='Home Page'>
	<h1>Hello World - Index Page</h1>
	<p data-paragraph></p>
	<a href='/about' class='button'>About Us</a>
</BaseLayout>

<script>
	import {initParagraph} from "../assets/javascript/home.js";

	const {paragraph} = initParagraph();
</script>
