---
import Link from "./Link.astro";
const {navigation} = Astro.props;

interface NavItem {
	href: string;
	text: string;
}
---

<nav>
	{navigation.map((item: NavItem) => <Link href={item.href}>{item.text}</Link>)}
</nav>

<style>
	nav {
		display: flex;
		gap: 1rem;
	}
</style>
