---
import "../assets/styles/styles.scss";
import Navigation from "../components/Navigation.astro";
import {navigationItems} from "../config/navigation";

const {title = "My Astro Site"} = Astro.props;
---

<html>
	<head>
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Navigation navigation={navigationItems} />
		</header>
	</body>
	<main>
		<slot />
	</main>
</html>
